@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container{
    margin: 0 165px 0 165px;
}



/* navbar section start  */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle{
    display: none;
}
.logo-text{
    color: #3A3A3A;
    font-weight: 700;
}
.links a{
    color: #3A3A3A;
    font-size: 1rem;
    margin-left: 34px;
    text-decoration: none;
}

/* navbar section end  */

/* hero section start  */
.container{
    display: flex;
    gap: 133px;
    align-items: center;
    margin-bottom: 100px;
}
.text-and-button{
    height: 270px;
    width: 582px;
}
.hero-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.prebook-button{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}
.banner-image img{
    height: 414px;
    width: 440px;
}
/* hero section end  */

/* company's logos section start  */
.company-logos{
    height: 110px;
    width: 1110;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* company's logos section end  */

/* popular collection section start  */
.top-title{
    margin: 100px 0 30px 0;
    text-align: center;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.icon .fa-solid{
    color: #FB8200;
}
.item-discription{
    line-height: 3px;
    color: #787885;
    font-weight: 700;
}
.see-more{
    color: #E02C6D;
    margin-top: 50px;
    text-align: right;
}
/* popular collection section end  */

/* featured product section start  */
.featured-container{
    display: flex;
    gap: 96px;
    margin-top: 100px;
}
.join{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    border: none;   
    font-size: 1rem;
    font-weight: 700;
}
/* featured product section end  */

/* influencer product section start  */
.influencer-container{
    text-align: center;
    background-color: #0a0826;
    margin-top: 100px;
    padding: 50px 0px;
    color: white;
}

.fa-brands{
    margin-left: 16px;
    font-size: 1.25rem;
}
/* influencer product section end  */

/* media query section start for mobile */

@media screen and (max-width:688px) {
    .main-container{
        margin: 0 20px;
    }
    /* navbar section  */
    .toggle{
        display: inline-block;
        margin-right: 10px;
        font-size: 1rem;
    }
    .logo-text{
        text-align: center;
    }
    .links .link,.fa-magnifying-glass{
        display: none;
    }
    /* hero section  */
    .container{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        margin-bottom: 50.5px;
    }
    .text-and-button{
        text-align: center;
        width: 90%;
    }
    .banner-image{
        width: 90%;
    }
    
    /* company logos section  */
    hr{
        display: none;
    }
    .company-logos{
        flex-wrap: wrap;
        gap: 25.4px;
    }
    /* popular collection section  */
    .item-container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .item{
        margin: 0px auto;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.06);
    }
    /* featured product section  */
    .featured-container{
        flex-direction: column-reverse;
    }
    /* influencer container section  */
    
}